.container
  .columns
    .column.col-6.col-mx-auto
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body
          = simple_form_for(resource, as: resource_name,
                                      url: user_confirmation_path,
                                      method: :post,
                                      wrapper: :spectre_vertical_form) do |f|

            = f.input :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
            br
            = f.button :submit, 'Resend confirmation instructions', class: 'btn-block'

      = render "devise/shared/links"
