.account-head {
  .box-body {
    padding: 1rem;
    padding-bottom: 0;
  }

  .tile .tile-content {
    padding-top: .2rem;
    padding-left: .8rem;
  }

  .tile-title {
    margin-bottom: .2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .tile-subtitle {
    margin: 0;
  }

  &-bio {
    p {
      font-size: 0.7rem;
      margin-bottom: 0.5rem;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
