@import '../variables';

.btn-gray {
  border-color: $gray-color;
  color: $gray-color;

  &:visited {
    color: $gray-color;
  }

  &:hover {
    border-color: $gray-color-dark;
    color: $gray-color-dark;
  }
}
