.story_tag_list {
  tags {
    height: 2rem;
  }

  .tagify__input {
    padding: 0.1em 0.5em 0.3em;

    &::before {
      content: "\feff ";
    }
  }

  .tagify tag > div {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}

.story-form-guidelines {
  .box {
    position: sticky;
    top: 1em;
    margin-top: 1em;
  }

  p {
    margin-bottom: .5em;
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;

    li {
      margin-top: 0;
    }
  }
}
