- body_placeholder = user_signed_in? ? 'Write your comment here...' : 'You need to be signed-in to write comments.'
- url = comment.is_a?(Comments::Create) ? api_ujs_comments_path : api_ujs_comment_path(comment.comment)
- controller_mode = comment.is_a?(Comments::Create) ? 'create' : 'update'

= simple_form_for comment, as: :comment,
                           url: url,
                           remote: true,
                           wrapper: :spectre_vertical_form,
                           html: { data: { controller: 'new-comment', 'parent-id': @comment.try(:parent_id), mode: controller_mode } } do |f|

  - if comment.is_a?(Comments::Create)
    = f.input :story_id, as: :hidden
    = f.input :parent_id, as: :hidden

  .form-group
    = f.input :body, as: :text,
                     placeholder: body_placeholder,
                     label: false,
                     disabled: !user_signed_in?,
                     input_html: { rows: 3, data: { target: 'new-comment.body' } }

  .form-group
    = f.submit class: 'btn btn-primary btn-sm', disabled: !user_signed_in?

    - if comment.is_a?(Comments::Update)
      button.btn.btn-link.btn-sm.ml-1(
        data-action="click->comment#cancelEdit"
      ) Cancel
