.container
  .columns
    .column.col-6.col-mx-auto
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = f.input :email

            br

            = f.button :submit, "Send me reset password instructions", class: 'btn-block'

      = render "devise/shared/links"
