header.navbar-main
  .container(style="width: 990px;")
    .navbar
      section.navbar-section
        = link_to Setting.site_title, root_path, class: 'navbar-brand'
        = active_link_to 'Stories', root_path, class: 'btn btn-link', active: { controller: :stories }
        = active_link_to 'Comments', comments_path, class: 'btn btn-link'

      section.navbar-section
        = active_link_to '+ Add story', new_story_path, class: 'btn btn-link'

        - if user_signed_in?
          a.btn.btn-link.navbar-main-notifications#notifications-indicator(
            href=notifications_path
            data-controller="notifications-indicator"
            data-turbolinks-permanent=true
            data-notifications-indicator-all-path=notifications_path
            data-notifications-indicator-unread-path=unread_notifications_path
            title="Notifications"
          )
            i.icon.icon-message

          .dropdown.dropdown-right.navbar-main-profile
            a.btn.btn-link.dropdown-toggle(href="javascript:void(0);")
              = image_tag current_account.avatar_url(:size_60), class: 'avatar'

            ul.menu
              li.menu-item
                .tile.tile-centered
                  .tile-icon
                    = image_tag current_account.avatar_url(:size_60), class: 'avatar'
                  .tile-content = current_account

              li.divider
              li.menu-item
                = link_to 'My Profile', current_account.path
              li.menu-item
                = link_to 'Settings', settings_profile_path

              - if current_user.is_admin?
                li.menu-item
                  = link_to 'Admin', edit_admin_settings_path

              li.divider
              li.menu-item
                = link_to 'Sign-out', destroy_user_session_path, data: { method: "delete" }
        - else
          = link_to 'Join us', new_user_session_path, class: 'btn btn-link'
