- tags = TagsQuery.new.popular.first(10).map(&:decorate)

.box.mb-2.popular-tags
  .box-body
    ul.list-inline
      - tags.each do |tag|
        li.list-inline-item
          a(href=tag.path) ##{tag.name}
