- presenter = StoryPresenter.new(story)
- is_upvoted = @account_upvoted_story_ids.include? story.id
- account = story.account.decorate
- more_actions_available = policy(story).edit? && policy(story).scrap?

li.story-row(data-controller="story" data-voted=is_upvoted.to_s class=('story-row--voted' if is_upvoted))
  .columns
    .column.col-1.story-row-score
      a.story-row-score-btn(
        data-action="click->story#toggleVote"
        data-target="story.voteBtn"
        data-action-path=toggle_vote_api_ujs_story_path(story)
      )
        span.story-row-score-votes-count
          = story.votes_count

    .column.col-2.story-row-thumb
      = link_to story_path(story) do
        - if story.thumb.present?
          = image_tag story.thumb_url(:size_200), width: '100%'
        - else
          .story-row-thumb-empty(class=('story-row-thumb-empty--text' if story.url.blank?))

    .column
      h3.story-row-title
        - if story.url.present?
          = link_to story.title, story.url, target: '_blank'
        - else
          = link_to story.title, story_path(story)

      ul.story-row-meta.list-inline
        - if story.account.present?
          li.list-inline-item
            | @#{link_to story.account.username, account.path}

        li.list-inline-item
          = story.url_domain

        - presenter.primary_tags.each do |tag|
          li.list-inline-item
            | ##{link_to tag.name, tag.path}

        - if presenter.more_tags.any?
          li.list-inline-item
            div.popover.popover-bottom.story-row-tags-more
              a + #{presenter.more_tags.size} more
              .popover-container
                .panel
                  .panel-body
                    ul.list-inline
                      - presenter.more_tags.each do |tag|
                        li.list-inline-item
                          | ##{link_to tag.name, tag.path}

      - if presenter.excerpt.present?
        p.story-row-excerpt
          = presenter.excerpt

      ul.story-row-meta.list-inline
        li.list-inline-item
          = link_to story_path(story) do
            | #{story.comments_count} comments

        li.list-inline-item
          = link_to story_path(story) do
            | Posted
            span.ml-1(data-controller="time-ago" data-datetime=story.created_at.iso8601)
              = story.created_at

        - if user_signed_in? && more_actions_available
          li.list-inline-item •
          li.list-inline-item
            div.dropdown
              a.dropdown-toggle(href="javascript:void(0);" data-turbolinks="false") More

              ul.menu
                - if policy(story).edit?
                  li.menu-item
                    = link_to 'Edit', edit_story_path(story)

                - if policy(story).scrap?
                  li.menu-item
                    a(
                      href="#"
                      data-action="click->story#scrap"
                      data-action-path=scrap_api_ujs_story_path(story)
                    ) Scrap again
