= simple_form_for(@admin_settings, url: admin_settings_path, method: :patch) do |f|
  .box
    .box-body.p-4
      = f.input :site_title
      = f.input :site_description, as: :text

  .box
    .box-body.p-4
      h5 Settings
      = f.input :open_registrations, as: :boolean, wrapper: :switch, wrapper_class: 'mb-0'

  .box
    .box-body.p-4
      h5 Limits

      = f.input :stories_per_day, as: :integer
      = f.input :story_votes_per_day, as: :integer
      = f.input :comment_votes_per_day, as: :integer

  = f.button :submit, 'Save changes'
