<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: Setting.site_title, separator: '-', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/rollbar' %>
    <%= yield :head %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= render 'shared/head' %>
  </head>

  <body>
    <div data-controller="application">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>

      <div class="container">
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
